body{
	background-image: url("../img/mosaico.jpg");
}
div {
	border-style: solid;
	border-color: black;
	width: 20%;
	padding: 10px;
	margin-left: 40%;
	margin-top: 50px;
	background-color: white;
}
button {
	margin: 10px;
	padding-left: 50px;
}