body {
	margin: 0;
}
#d1 {
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
	margin-top: 200px;
}
#d2 {
	background-color: rgb(50, 50, 255);
	width: 20%;
	padding-top: 20%;
	float: right;
	margin-top: 150px;
}
#d3 {
	background-color: rgb(100, 100, 255);
	width: 20%;
	padding-top: 20%;
	float: right;
	margin-top: 100px;
}
#d4 {
	background-color: rgb(150, 150, 255);
	width: 20%;
	padding-top: 20%;
	float: right;
	margin-top: 50px;
}
#d5 {
	background-color: rgb(200, 200, 255);
	width: 20%;
	padding-top: 20%;
	float: right;
}