body {
	margin: 0;
	padding: 0;
}
header {
	text-align: center;
	font-family: arial;
	color: white;

	background-color: black;
	padding: 30px;
	width: 80%;
	float: right;
	margin-left: 20%;
}
nav {
	margin: 0;
	background-color: black;
	width: 20%;
	height: 1000px;
	position: fixed;
	clear: top;
}
main {
	margin-left: 300px;
	width: 80%;
	float: right;
}
fieldset {
	margin: 10%;
	margin-top: 0;
	border-style: dotted;
	border-color: red;
}
a {
	text-decoration: none;
	color: red;
}
#listaLinks {
	margin-top: 250px;
	text-decoration: underline;
}
li {
	padding: 5px;
}