body {
	margin: 0;
}
#d15{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d14{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d13{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d12{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d11{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
										/* primer fila de aquí para arriba */
#d25{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d24{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d23{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d22{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d21{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
										/* segunda fila de aquí para arriba */
#d35{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d34{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d33{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d32{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d31{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
										/* tercer fila de aquí para arriba */
#d45{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d44{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d43{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d42{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d41{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
										/* cuarta fila de aquí para arriba, última fila abajo */
#d55{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d54{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d53{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d52{
	background-color: none;
	width: 20%;
	padding-top: 20%;
	float: right;
}
#d51{
	background-color: black;
	width: 20%;
	padding-top: 20%;
	float: right;
}