body {
	margin: 0;
	font-size: 130%;
}
header {
	text-align: center;
	font-family: arial;
	font-size: 120%;
	color: white;

	background-color: black;
	padding-left: 2000px;
	width: 80%;
	float: right;
}
nav {
	margin: 0;
	background-color: black;
	height: 3000px;
	position: fixed;
	width: 140px;
}
main {
	text-align: left;
	border-left: solid;
	margin-left: 140px;
	padding: 80px;
	padding-top: 0;
	float: right;
}
												/*Secunadarios*/
fieldset {
	margin: 10%;
	margin-top: 0;
	margin-right: : 300px;
	border-style: dotted;
	border-color: red;
}
a {
	text-decoration: none;
	color: red;
}
}
li {
	padding: 5px;
}
												/* id's */
 button.nav{
 	background-color: green;
 	width: 100px;
 	height: 50px;

 	padding-bottom: 40px;
 	border: none;

 	text-decoration-color: white;
 }