button {
	margin-top: 20px;
	margin-left: 43%;
	padding:10px;
	font-size: 200%;
}
img {
	
	width: 200px;
	height: 268px;
}
p {
	margin: 0;
	padding: 2px;
	text-align: center;
	font-size: 120%;
}

#cuadros {
	margin-top: 0;
	min-width: 660px;
}
.tache {
	margin: 0;
	float: right;
	width: 20px;
	height: 20px;
	padding: 0;
	border-radius: 50%;
	outline: none;
	background-color: red;

	font-size: 100%;
}
.externo {
	width: 200px;
	height: 320px;
	background-color: rgb(174, 172, 200);
	padding: 0;

	border-style: solid;
	border-width: 10px;
	border-color: black;
	border-radius: 10px;

	float: right;

	margin: 10px;
}
.externo:hover {
	border-color: green;
}
.interno {
	width: 200px;
	height: 28px;
}

@media all and (max-width:700px) {

	#cuadros {
		margin-right: 20%;
	}
	button {
		margin: 0;
		margin-left: 40%;
	}
	.externo {
		float: none;
		position: relative;
		margin-left: 20%;
	}
	img {
	width: 200px;
	height: relative to;
	}