body {
	margin: 0;
}
#cuadro1 {
	background-color: blue;
	width: 100%;
	padding-top: 12.5%;
	padding-bottom: 12.5%;
}
#cuadro2 {
	background-color: red;
	width: 100%;
	padding-top: 12.5%;
	padding-bottom: 12.5%;
}