header {
	text-align: center;
	color: white;
	background-color: black;
	padding: 30px;
	font-family: arial;
	height: 20%;
}
nav {
	padding: 20px;
	display: block;
	width: 10%;
	background-color: black;
	height: 80%;
}
a {
	text-decoration: none;
	color: red;
}
body {
	margin: 0;
}
main {
	width: 80%
}
ul.li{
	background-color: yellow;
}